body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* in dark mode drop arrow visble hojayega */
.accordion-button::after {
  background-image: none !important;
  content: "▼";   /* simple arrow */
  font-size: 14px;
  color: inherit; /* light/dark ke hisaab se auto */
}